*{
  box-sizing: content-box;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}
.all{
  display: flex;
  justify-content: center;
  min-width: 1000px;
}
.first-side{
  max-width: 30%;
  width: 30%;
}
.second-side{
  max-width: 70%;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
 
  padding: 10%;
}